/**
 *
 * {{ properCase name }}
 *
 */

import * as React from 'react';
// import * as PropTypes from 'prop-types';
import { {{ properCase name }}Props } from '../types';

// // Uncomment these imports to use JSS styling
// import withJssStyle from '@cccv/styles/withJssStyle';
// import { styles } from '../styles';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from '../messages';
{{/if}}

/**
 * TODO: add a description
 */
export class {{ properCase name }} extends {{{ type }}}<{{ properCase name }}Props> {
  static propTypes = {};

  public render = () => {
    return (
      <div>
        {{#if wantMessages}}
          <FormattedMessage {...messages.header} />
        {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};

// // Uncomment these lines decorate with JSS styling
// export const Decorated{{ properCase name }} = withJssStyle<{{ properCase name }}Props>(styles)({{ properCase name }});
// Decorated{{ properCase name }}.displayName = '{{ properCase name }}';

// export default Decorated{{ properCase name }};
